<%layout('../boiler_plate')%>
<form action="/weather" method="POST">
  <div class="form-group">
  <p> </p>
    <label for="exampleInputPassword1">Enter city name</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="address" placeholder="city name">
  </div>
  <button type="submit" class="btn btn-dark">Check</button>
</form>
    